body {
    background-color: #FFFFFF; 
}

#carouselExampleIndicators {
    height: 50%;
    width: 50%; 
    float: center; 
    margin: 25%; 
}

.parallax { 
    /* The image used */
    background-image: url("https://images.pexels.com/photos/462024/pexels-photo-462024.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");

    /* Set a specific height */
    height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* #myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
} */