body {
    background-color: #FFFFFF; 
}

#carouselExampleIndicators {
    height: 50%;
    width: 50%; 
    float: center; 
    margin: 25%; 
}

#myVideo {
    width: 50%;
    border: 5px solid black;
}