.jumbotron1 {
    height: 950px; 
    background-image: url(https://images.pexels.com/photos/691668/pexels-photo-691668.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-size: cover; 
}

.jumboH1 {
    
    color: white;
    position: relative; 
    top: 40%;
    right:43%;
    font-family: 'Oleo Script', cursive;
    font-size: 900%;
    overflow: hidden;
}


.headerh2 {
    color: black; 
    text-align: center; 
    font-family: 'Oleo Script', cursive; 
    font-size: 200%;
    text-shadow: 2px 2px 2px white; 
}