#jumboStyle {
    background-image: url(https://images.pexels.com/photos/326243/pexels-photo-326243.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260); 
    background-size: cover; 
    color: white;
    width: 100%; 
    text-align: center; 
}